body{
	background-color:#00FF99;
	padding-top:50px;
}
header{
	background-color:#00B26B;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:50px;
}
.headeritem{
	color:white;
	padding-left:20px;
	display:inline-block;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:20px;
}
.headeritem:hover{
	background-color:#007D4B;
	color:white;
}
a{
	color:blue;
	text-decoration:none;
}
a:hover{
	color:blue;
	text-decoration:underline;
}
h1.homeheader{
	text-align:center;
	font-style:italic;
}
div.homesubheader{
	text-align:center;
	font-style:italic;
}
ul.activitieslist{
	list-style: none;
	white-space: nowrap;
}
ul.headerlist{
	list-style: none;
	white-space: nowrap;
	font-size:18px;
}
.headerlistitem{
	color:white !important;
	padding-top:32px;
	padding-bottom:10px;
	padding-left: 5px;
	padding-right:5px;
}
.headerlistitem:hover{
	color:white !important;
	background-color:#007D4B;
}
.activityitem{
	background-color:lightgrey;
	border-color:grey;
	border-radius:3px;
	width:150px;
	text-align:center;
	overflow:wrap;
}
#submitform{
	border-radius:10px;
	border-color:#00E68A;
	background-color:#00E68A;
	color:white;
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	margin-right:5px;
}
#queryform{
	border-radius:5px;
	border-color:#00E68A;
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	margin-right:5px;
}